body
{
    background-color: red;
}

h1
{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

.button
{
    display: block;
    margin-top: 330px;
    margin-left: auto;
    margin-right: auto;
}
